---
layout: avancement
title: Photos avancement des travaux | Résidences Bessa Promotion
slug: Avancement des travaux
permalink: /projets-en-cours/avancement-des-travaux.html
redirect_from: [/fr/projets-en-cours/avancement-des-travaux,/en/ongoing-project/progress-of-work,/es/proyectos-en-curso/trabajar-el-progreso,/en/14-articles/126-avancement-des-travaux,/fr/14-articles/141-progress-of-work,/es/14-articles/126-avancement-des-travaux,/es/referencias/14-articles/141-progress-of-work,/es/proyectos-en-curso/14-articles/141-progress-of-work,/fr/nouveautes/14-articles/141-progress-of-work,/es/14-articles/141-progress-of-work,/es/novedades/14-articles/141-progress-of-work,/fr/projets-en-cours/14-articles/141-progress-of-work,/fr/m/fr/14-articles/141-progress-of-work]
delivery: Janvier 2018
description: Consultez les photos les plus récentes de l'avancement des travaux des résidences Bessa Promotion Immobilière.
---


<div class="avancement-container">

</div>
<div class="avancement">
  <div class="main-reference">
    <div class="presentation-header">
      <h4 >Résidence La Belle Colline</h4>
       <p>Mise à jour le 07/01/2018 </p>
       <p class="caption-magic alt-stuff-bellecolline"></p>
   </div>
        <div class="presentaion-image">

        <div class="owl-carousel smart owl-theme owl-loaded bellecolline">
           {% for item in site.data.avancement.projects.bellecolline.slider %}
             <div class="item">
               <img src="{{item.slide}}" alt="{{item.alt}}" data-caption="{{item.caption}}">
             </div>
           {% endfor %}
        </div>

           </div>
        </div>

</div>
<div class="avancement">


  <div class="main-reference row-reverse">
    <div class="presentation-header">
      <h4 class="underline--magical-full">Résidence Garden</h4>
       <p>Mise à jour le 14/07/2018  </p>
       <p class="caption-magic alt-stuff-garden"></p>

   </div>
        <div class="presentaion-image">
          <div class="owl-carousel smart owl-theme owl-loaded garden">
             {% for item in site.data.avancement.projects.garden.slider %}
               <div class="item">
                 <img src="{{item.slide}}" alt="{{item.alt}}" data-caption="{{item.caption}}">
               </div>
             {% endfor %}
          </div>
           </div>
        </div>
</div>

<div class="avancement">

  <div class="main-reference">
    <div class="presentation-header">
      <h4 class="underline--magical-full">Résidence Midelt 1</h4>
       <p>Mise à jour le 14/07/2018 </p>
        <p class="caption-magic alt-stuff-midelt1"></p>
   </div>
        <div class="presentaion-image">
          <div class="owl-carousel smart owl-theme owl-loaded midelt1">
             {% for item in site.data.avancement.projects.midelt1.slider %}
               <div class="item">
                 <img src="{{item.slide}}" alt="{{item.alt}}" data-caption="{{item.caption}}">
               </div>
             {% endfor %}
          </div>
           </div>
        </div>

</div>
<div class="avancement">

  <div class="main-reference row-reverse">
    <div class="presentation-header">
      <h4 class="underline--magical-full">Résidence Midelt 3</h4>
       <p>Mise à jour le 14/07/2018  </p>
       <p class="caption-magic alt-stuff-midelt3"></p>
   </div>
        <div class="presentaion-image">
          <div class="owl-carousel smart owl-theme owl-loaded midelt3">
             {% for item in site.data.avancement.projects.midelt3.slider %}
               <div class="item">
                 <img src="{{item.slide}}" alt="{{item.alt}}" data-caption="{{item.caption}}">
               </div>
             {% endfor %}
          </div>
           </div>
        </div>

</div>

<div class="avancement">

  <div class="main-reference">
    <div class="presentation-header">
      <h4 class="underline--magical-full">Résidence Massiva</h4>
       <p>Mise à jour le 14/07/2018 </p>
        <p class="caption-magic alt-stuff-massiva"></p>
   </div>
        <div class="presentaion-image">
          <div class="owl-carousel smart owl-theme owl-loaded massiva">
             {% for item in site.data.avancement.projects.massiva.slider %}
               <div class="item">
                 <img src="{{item.slide}}" alt="{{item.alt}}" data-caption="{{item.caption}}">
               </div>
             {% endfor %}
          </div>
           </div>
        </div>

</div>
<div class="avancement">

  <div class="main-reference row-reverse">
    <div class="presentation-header">
      <h4 class="underline--magical-full">Résidence Fusion</h4>
       <p>Mise à jour le 14/10/2017 </p>
         <p class="caption-magic alt-stuff-fusion"></p>
   </div>
        <div class="presentaion-image">
          <div class="owl-carousel smart owl-theme owl-loaded fusion">
             {% for item in site.data.avancement.projects.fusion.slider %}
               <div class="item">
                 <img src="{{item.slide}}" alt="{{item.alt}}" data-caption="{{item.caption}}">
               </div>
             {% endfor %}
          </div>
           </div>
        </div>

</div>
<div class="avancement">

  <div class="main-reference">
    <div class="presentation-header">
      <h4 class="underline--magical-full">Résidence Sapins 2</h4>
       <p>Mise à jour le 14/10/2017 </p>
         <p class="caption-magic alt-stuff-sapins2"></p>
   </div>
        <div class="presentaion-image">
          <div class="owl-carousel smart owl-theme owl-loaded sapins2">
             {% for item in site.data.avancement.projects.sapins2.slider %}
               <div class="item">
                 <img src="{{item.slide}}" alt="{{item.alt}}" data-caption="{{item.caption}}">
               </div>
             {% endfor %}
          </div>
           </div>
        </div>

</div>
