---
layout: avancement
title: Photos avancement des travaux | Résidences Bessa Promotion
slug: Avancement des travaux
permalink: /projets-en-cours/avancement-des-travaux.html
redirect_from: [/fr/projets-en-cours/avancement-des-travaux,/en/ongoing-project/progress-of-work,/es/proyectos-en-curso/trabajar-el-progreso]
delivery: Janvier 2018
description: Consultez les photos les plus récentes de l'avancement des travaux des résidences Bessa Promotion Immobilière.
---
<div class="avancement">
  <div class="main-reference">
    <div class="presentation-header">
      <h5 class="white-text">Avancement de la résidence <strong>La Belle colline</strong></h5>
       <p>Mise a jour le 7/7/2017 </p>
   </div>
        <div class="presentaion-image">
          <div class="slider">
          <ul class="slides">
            {% for item in site.data.avancement.projects.bellecolline.slider %}
            <li>
              <img src="{{item.slide}}" alt="{{item.alt}}" >

                 </li>
            {% endfor %}

          </ul>
        </div>
           </div>
        </div>

</div>
<div class="avancement">


  <div class="main-reference">
    <div class="presentation-header">
      <h4 class="white-text">Avancement de la résidence Garden</h4>
       <p>Mise a jour le 7/7/2017 </p>
   </div>
        <div class="presentaion-image">
          <div class="slider">
          <ul class="slides">
            {% for item in site.data.avancement.projects.garden.slider %}
            <li>
              <img src="{{item.slide}}" alt="{{item.alt}}" >

                 </li>
            {% endfor %}

          </ul>
        </div>
           </div>
        </div>

</div>

<div class="avancement">

  <div class="main-reference">
    <div class="presentation-header">
      <h4 class="white-text">Avancement de la résidence Midelt 1</h4>
       <p>Mise a jour le 7/7/2017 </p>
   </div>
        <div class="presentaion-image">
          <div class="slider">
          <ul class="slides">
            {% for item in site.data.avancement.projects.midelt1.slider %}
            <li>
              <img src="{{item.slide}}" alt="{{item.alt}}" >

                 </li>
            {% endfor %}

          </ul>
        </div>
           </div>
        </div>

</div>
<div class="avancement">

  <div class="main-reference">
    <div class="presentation-header">
      <h4 class="white-text">Avancement de la résidence Midelt 3</h4>
       <p>Mise a jour le 7/7/2017 </p>
   </div>
        <div class="presentaion-image">
          <div class="slider">
          <ul class="slides">
            {% for item in site.data.avancement.projects.midelt3.slider %}
            <li>
              <img src="{{item.slide}}" alt="{{item.alt}}" >

                 </li>
            {% endfor %}

          </ul>
        </div>
           </div>
        </div>

</div>

<div class="avancement">

  <div class="main-reference">
    <div class="presentation-header">
      <h4 class="white-text">Avancement de la résidence Massiva</h4>
       <p>Mise a jour le 7/7/2017 </p>
   </div>
        <div class="presentaion-image">
          <div class="slider">
          <ul class="slides">
            {% for item in site.data.avancement.projects.massiva.slider %}
            <li>
              <img src="{{item.slide}}" alt="{{item.alt}}" >

                 </li>
            {% endfor %}

          </ul>
        </div>
           </div>
        </div>

</div>
<div class="avancement">

  <div class="main-reference">
    <div class="presentation-header">
      <h4 class="white-text">Avancement de la résidence Fusion</h4>
       <p>Mise a jour le 7/7/2017 </p>
   </div>
        <div class="presentaion-image">
          <div class="slider">
          <ul class="slides">
            {% for item in site.data.avancement.projects.fusion.slider %}
            <li>
              <img src="{{item.slide}}" alt="{{item.alt}}" >

                 </li>
            {% endfor %}

          </ul>
        </div>
           </div>
        </div>

</div>
<div class="avancement">

  <div class="main-reference">
    <div class="presentation-header">
      <h4 class="white-text">Avancement de la résidence Sapins 2</h4>
       <p>Mise a jour le 7/7/2017 </p>
   </div>
        <div class="presentaion-image">
          <div class="slider">
          <ul class="slides">
            {% for item in site.data.avancement.projects.sapins2.slider %}
            <li>
              <img src="{{item.slide}}" alt="{{item.alt}}" >

                 </li>
            {% endfor %}

          </ul>
        </div>
           </div>
        </div>

</div>
