---
layout: residence
title: Résidence La Belle Colline | Promotion Immobilière à Djenane Sfari
permalink: /projets-en-cours/la-belle-colline.html
delivery: Juin 2018
location: Birkhadem
map: https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d32358.88858763238!2d3.0371780507551924!3d36.703880294941825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xced6989b0f31f626!2sBessa+Promotion%2C+R%C3%A9sidence+LA+BELLE+COLLINE%2C+Birkhadem!5e0!3m2!1sfr!2sdz!4v1508256142345
redirect_from: [/fr/projets-en-cours/la-belle-colline,/en/ongoing-project/la-belle-colline,/es/proyectos-en-curso/la-belle-colline]
description: Implantée à Djenane Sfari dans la commune de Birkhadem, la Résidence La Belle Colline de Bessa Promotion Immobilière est un projet ambitieux d'éco quartier
slug: La Belle Colline
file: bellecolline
update: 14/10/2017
---
<div class="parallax-container hide-on-med-and-down">
  <div class="parallax"><img src="{{ site.data.images.residences.bellecolline.cover}}"/></div>
</div>
<div class="presentation-residence">
  <p class="justify-align">Située à Djenane Sfari dans la commune de Birkhadem, la résidence La Belle Colline représente un de nos projets les plus ambitieux : Construire un important ensemble résidentiel géré à la pointe de la technologie.</p>
  <p class="justify-align">Conçue en partenariat avec un bureau d’étude sud-coréen, la résidence  propose une très grande variété d’appartements et de surfaces du F2 au F5 en simplex et duplex, répartis sur plusieurs bâtiments de sorte à former un éco-quartier.</p>
  <p class="justify-align">En plus de proposer des vues imprenables sur la Mitidja dans certains appartements et un accès très facile sur l’autoroute, la résidence disposera également de locaux commerciaux, d’une salle de fitness, d’un spa et d’espace verts aménagés de sorte à garantir un environnement convivial et un cadre de vie où le fonctionnel et l’esthétique ont été étroitement associés pour le bien-être de tous les résidents.</p>
</div>


 <div class="row padding">
   <div class="col s12 m6">
     <h4 class="center-align underline--magical-full" style="padding: 10px 0px">Nos offres sur la résidence {{page.slug}}</h4>
     <table class="bordered centered striped">
            <thead>
              <tr>
                  <th><h6><strong>Type d'appartement</strong></h6></th>
                  <th><h6><strong>Surface</strong></h6></th>
              </tr>
            </thead>
            <tbody>
              {% for residence in site.data.offres.bellecolline %}
              <tr>
                <td style="width: 50%; padding: 5px"><h6>{{residence.type}}</h6></td>
                <td style="width: 50%; padding: 5px"><h6>{{residence.surface}}</h6></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
   </div>
   <div class="col s12 m6">
   <div class="owl-carousel owl-theme owl-loaded">
      {% for item in site.data.images.residences.bellecolline.slider %}
        <div class="item">
          <img src="{{item.slide}}">
        </div>
      {% endfor %}
   </div>
   </div>
 </div>
