---
layout: post
permalink : /accueil/blog.html
title: Blog Bessa Promotion
redirect_from: [/en/news,/fr/9-uncategorised/101-typography,/fr/videos,/fr/oree,/fr/old_old_site]
---

    <section class="blog">
      <div class="hero-blog">
        <h2>Blog de Bessa Promotion</h2>
          <h5 class="grey-text text-darken-2">Inscrivez-vous à notre liste pour recevoir régulièrement nos offres</h5>
          {% include newsletter-helper.html %}
        </div>
        <div class="scroll-blog">
            {% for post in site.posts %}
         <div class="blog-article">
              <a href="{{ post.url | relative_url }}">
              <h4>{{post.title}}</h4>
              <div>{{post.content | truncatewords: 30 }}</div>
              </a>
            </div>
            {% endfor %}
            </div>

            
          </div>
        </section>
