---
layout: default
title: Bessa Promotion | Nos équipements pour votre confort
permalink: /eco-design/confort.html
redirect_from: [/fr/eco-design/confort,/es/eco-design/confort/,/fr/fournisseurs/,/fr/promotion/index.php/confort-et-securite,/fr/css]
slug: Confort
description: Bessa Promotion équipe votre futur appartement avec les meilleurs matériaux pour satisfaire vos exigences de propriétaire
---
<div class="banner center-align ">
  <div class="header-show">
    <h1 class="align-center white-text">{{page.slug}}</h1>
 <div class="underline"></div>
  </div>
</div>

    <div class="padding">
    <h4 class="bessa-color">Des choix de qualité pour des propriétaires exigeants</h4>
    <p class="flow-text">Soucieux de vous garantir une prestation immobilière à la hauteur de vos exigences, nous accordons une grande attention aux choix de nos matériaux et équipements en collaborant avec les meilleurs fournisseurs. Environnements confortables, espaces de vies fonctionnels, parties communes sécurisées et conviviales : nous conjuguons toutes les expertises pour faire de votre appartement un lieu chaleureux et un investissement durable.</p>



      <div class="main-reference z-depth-1">

      <div class="presentation-header">


      <h4 class="bessa-color">Intérieur des appartements</h4>
        <ul class="browser-default myli2">
          <li> Cuisines d’origine italienne, composées d’une colonne pour four micro-ondes encastrable, hotte et lave-vaisselle.</li>
          <li>Plaque à quatre feux à gaz ou électrique, évier et robinet mitigeur, plan de travail en stratifié et portes finition mélaminé brillant.</li>
        	<li> Baignoires, lavabos sanitaires d’origine espagnole ou portugaise</li>
        	<li> Robinetterie d’origine allemande</li>
        </ul>
      </div>
      <div class="presentaion-image">
        <div class="owl-carousel owl-theme owl-loaded">
           {% for item in site.data.ecodesign.confort.interior.slider %}
             <div class="item">
               <img src="{{item.slide}}">
             </div>
           {% endfor %}
        </div>

        </div>
    </div>
    <div class="main-reference z-depth-1">
      <div class="presentation-header">
        <h4 class="bessa-color">Parties communes </h4>
          <ul class="browser-default myli3">
            <li>Halls d’entrée aménagés et décorés</li>
          	<li> Escaliers en granit</li>
          	<li>Revêtement des surfaces communes en granit poli</li>
          </ul>
      </div>
      <div class="presentaion-image">

        <div class="owl-carousel owl-theme owl-loaded">
           {% for item in site.data.ecodesign.confort.exterior.slider %}
             <div class="item">
               <img src="{{item.slide}}">
             </div>
           {% endfor %}
        </div>

      </div>

</div>
        <div class="partner">
              <div class="partner-images " >
              <img src="/img/logos/kludi.png" class="img-responsive" alt="kludi-logo">
              <img src="/img/logos/distram.png" class="img-responsive" alt="distram-logo">
              <img src="/img/logos/roca.png" class="img-responsive" alt="roca-logo">

            </div>
          </div>

</div>
