---
layout: residence
title: Résidence Fusion| Appartements haut standing à Draria 
slug: Fusion 2
offre: fusion2
permalink: /nouveautes/fusion-2.html
delivery: 2019
location: Draria
map: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12795.018948375375!2d2.9851582405671375!3d36.70443117949297!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzbCsDQyJzE2LjAiTiAywrA1OSczOC4xIkU!5e0!3m2!1sfr!2sdz!4v1524172367342"
booking: true
description: Vivez au rythme de Bessa Promotion et laissez-vous charmer par la résidence Fusion II qui associe modernité et pragmatisme du fait de sa localisation privilégiée à la sortie de Draria, son design contemporain et les diverses commodités dont elle dispose.
---
<div class="row">
  <div class="col s12">
    <div class="owl-carousel owl-theme owl-loaded">
      {% for item in site.data.images.residences.fusion2.slider %}
         <div class="item">
           <img src="{{item.slide}}">
         </div>
       {% endfor %}
    </div>
  </div>
</div>
<div class="  presentation-residence">
 <p class="justify-align">Vivez au rythme de Bessa Promotion et laissez-vous charmer par la résidence Fusion II qui associe modernité et pragmatisme du fait de sa localisation privilégiée à la sortie de Draria, son design contemporain et les diverses commodités dont elle dispose.</p>
 <p class="justify-align"> L’accès facile à l’autoroute, la sécurité, l’écologie et l’ergonomie qu’on lui reconnaîtrait accentuent la qualité des 68 appartements la composant  en simplex et en duplex.</p>
</div>

 <div class="row padding">
   <div class="col s12">
     <h4 class="center-align underline--magical-full" style="padding: 10px 0px">Nos offres sur la résidence {{page.slug}}</h4>
     <table class="bordered centered striped">
            <thead>
              <tr>
                  <th><h6><strong>Type d'appartement</strong></h6></th>
                  <th><h6><strong>Surface</strong></h6></th>
              </tr>
            </thead>
            <tbody>
              {% for residence in site.data.offres.fusion2 %}
              <tr>
                <td style="width: 50%; padding: 5px"><h6>{{residence.type}}</h6></td>
                <td style="width: 50%; padding: 5px"><h6>{{residence.surface}}</h6></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
   </div>
 </div>
