---
layout: residence
title: Résidence Garden | Appartements haut standing  à Sidi Yahia
permalink: /projets-en-cours/garden.html
redirect_from: [/fr/projets-en-cours/garden,/en/ongoing-project/garden,/es/proyectos-en-curso/garden]
delivery: Juin 2018
location: Sidi Yahia
slug: Garden
description: Découvrez la magnifique Résidence Garden, un ensemble d'appartements haut standing dans le quartier très prisé de Sidi Yahia.
---
<div class="col s12 m6 hide-on-med-and-up">
  <div class="slider">
  <ul class="slides">
    {% for item in site.data.images.residences.garden.slider %}
    <li>
      <img src="{{item.slide}}" alt="item.alt" >
         </li>
    {% endfor %}
  </ul>
</div>

</div>
<div class="parallax-container hide-on-med-and-down">
  <div class="parallax"><img src="{{ site.data.images.residences.garden.cover }}"/></div>
</div>
<div class="presentation-residence">

  <h4>Présentation</h4>
<p>
  Avec la résidence Garden, nous vous invitons à découvrir une des réalisations phares de Bessa Promotion Immobilière : Proposer une architecture inspirée par la nature dans un des quartiers les plus prisés et dynamiques d’Alger.
</p>
<p>
  Située à proximité du boulevard de Sidi Yahia, avec ses enseignes commerciales et ses restaurants de diverses spécialités, cette résidence se caractérise par les lignes élégantes de son architecture moderne, ses  appartements haut-standing à la vue dégagée, avec balcons ouvrant sur un espace de verdure, le tout dans un environnement calme et résidentiel.
</p>
<p>
  De par sa situation idéale, la résidence Garden vous fera également profiter de la proximité d’écoles, d’infrastructures et de services en tous genres.
</p>
</div>


 <div class="row padding">
   <div class="col s12 m6">
     <h4 class="center-align underline--magical-full" style="padding: 10px 0px">Nos offres sur la résidence {{page.slug}}</h4>
     <table class="bordered centered striped">
            <thead>
              <tr>
                  <th><h6><strong>Type d'appartement</strong></h6></th>
                  <th><h6><strong>Surface</strong></h6></th>
              </tr>
            </thead>
            <tbody>
              {% for residence in site.data.offres.garden %}
              <tr>
                <td style="width: 50%; padding: 5px"><h6>{{residence.type}}</h6></td>
                <td style="width: 50%; padding: 5px"><h6>{{residence.surface}}</h6></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
   </div>
   <div class="col s12 m6 hide-on-med-and-down">
     <div class="slider">
     <ul class="slides">
       {% for item in site.data.images.residences.garden.slider %}
       <li>
         <img src="{{item.slide}}" alt="item.alt" >
            </li>
       {% endfor %}
     </ul>
   </div>

   </div>
 </div>
