---
layout: residence
title: Résidence Midelt 2 | Promotion immobilière à Ouled Fayet
permalink: /projets-en-cours/midelt-02.html
delivery: 2018
location: Ouled Fayet
map: https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7236.890993463521!2d2.9477197642844994!3d36.74542266130608!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sdz!4v1509045404508
redirect_from: [/fr/projets-en-cours/midelt-02,/en/ongoing-project/midelt-02/,/es/proyectos-en-curso/midelt-02/,/fr/nouveautes/midelt-02/,/es/novedades/midelt-02,/fr/nouveautes/midelt-02,/promotion/index.php/residence-midelt-2,/en/news/midelt-02,/fr/residence-midelt-2,/fr/93-2-home-page-products-en/140-residence-midelt-ii,/fr/plans/BLOC-E-PLAN-5%C3%A9me-ETAGE-midelt-2.pdf,/fr/promotion/index.php/residence-midelt-2,/fr/96-2-home-page-products-es/156-residencia-midelt-02]
slug: Midelt 2
booking: true
description: Découvrez la Résidence Midelt 2 de Bessa Promotion Immobilière, un ensemble résidentiel haut standing à Ouled Fayet
---
<div class="row">
  <div class="col s12">
    <div class="owl-carousel owl-theme owl-loaded">
      {% for item in site.data.images.residences.midelt2.slider %}
         <div class="item">
           <img src="{{item.slide}}">
         </div>
       {% endfor %}
    </div>
  </div>
</div>
<div class="presentation-residence">
  <p class="justify-align">Dans le prolongement de notre projet d’installer durablement un environnement résidentiel de qualité dans la commune de Ouled Fayet, nous vous proposons de découvrir la résidence Midelt 2 qui sera érigée à proximité de Midelt 1 et non loin de nos résidences  de référence, Gaya et Irat.</p>
  <p class="justify-align">Tout aussi ambitieux d’un point  de vue architectural, ce projet de résidence se présente sous la forme de 7 bâtiments de 9 étages avec des appartements, allant du F3 au F4 avec différents choix de surfaces.</p>
  <p class="justify-align">Le cachet de cette résidence réside dans une utilisation judicieuse des formes cubiques permettant d’obtenir des volumes très intéressants du point de vue de l’aménagement des espaces intérieurs et des lieux de vie en commun.</p>
</div>


 <div class="row padding">
   <div class="col s12">
     <h4 class="center-align underline--magical-full" style="padding: 10px 0px">Nos offres sur la résidence {{page.slug}}</h4>
     <table class="bordered centered striped">
            <thead>
              <tr>
                  <th><h6><strong>Type d'appartement</strong></h6></th>
                  <th><h6><strong>Surface</strong></h6></th>
              </tr>
            </thead>
            <tbody>
              {% for residence in site.data.offres.midelt2 %}
              <tr>
                <td style="width: 50%; padding: 5px"><h6>{{residence.type}}</h6></td>
                <td style="width: 50%; padding: 5px"><h6>{{residence.surface}}</h6></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
   </div>
 </div>
