---
layout: residence
title: Résidence Les Sapins 2 |appartement Chéraga Dély Brahim
slug: Les Sapins 2
permalink: /projets-en-cours/sapin-ii.html
redirect_from: [/fr/projets-en-cours/sapins-ii,/en/ongoing-project/sapins-ii,/es/proyectos-en-curso/sapins-ii]
delivery: 2017
map: https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1581.5737420899475!2d2.9760613635951234!3d36.7595397745767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x290d7ef256e51841!2sBessa+Promotion%2C+R%C3%A9sidence+LES+SAPINS+II%2C+CHERAGA%2FDELY+BRAHIM!5e1!3m2!1sfr!2sdz!4v1508061723307
location: Chéraga-Dely Brahim
file: sapins2
update: 14/10/2017
description: Située entre Chéraga et Dely Brahim, La résidence Les Sapins 2 de Bessa Promotion Immobilière allie modernité et environnement proche de la nature.
---
<div class="parallax-container hide-on-med-and-down">
  <div class="parallax"><img src="{{ "img/residence/sapin2/cover.jpg" | relative_url }}"/></div>
</div>
<div class="presentation-residence">

<p>Située entre Chéraga et Dely Brahim avec un accès rapide vers Bois des Cars, la résidence Les Sapins 2 offre un cadre vie unique alliant environnement proche de la nature et esthétique d’une architecture moderne.</p>
<p>La résidence est constituée de cinq blocs agencés de sorte à avoir des vues dégagées sur l’ensemble du site, particulièrement depuis les terrasses de ses duplex.</p>
<p>Profitez de ces lieux de vie spacieux et lumineux, ouvrant sur des espaces verts, et optez pour le confort de nos appartements aménagés avec des matériaux de qualité et bénéficiant d’un travail de finitions des plus soignés.</p>
</div>


 <div class="row padding">

   <div class="col s12 m6">
     <h4 class="center-align underline--magical-full" style="padding: 10px 0px">Nos offres sur la résidence {{page.slug}}</h4>
     <table class="bordered centered striped">
            <thead>
              <tr>
                  <th><h6><strong>Type d'appartement</strong></h6></th>
                  <th><h6><strong>Surface</strong></h6></th>
              </tr>
            </thead>
            <tbody>
              {% for residence in site.data.offres.sapins2 %}
              <tr>
                <td style="width: 50%; padding: 5px"><h6>{{residence.type}}</h6></td>
                <td style="width: 50%; padding: 5px"><h6>{{residence.surface}}</h6></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
   </div>
     <div class="col s12 m6">
       <div class="owl-carousel owl-theme owl-loaded">
         {% for item in site.data.images.residences.sapin2.slider %}
            <div class="item">
              <img src="{{item.slide}}">
            </div>
          {% endfor %}
       </div>

   </div>
 </div>
