---
layout: default
title: Bessa Promotion | Nos équipement pour votre sécurité
slug: Sécurite
permalink: /eco-design/securite.html
redirect_from: [/fr/eco-design/securite,/es/eco-design/seguridad]
description: Bessa Promotion garanti votre bien être et sécurité en équipant votre appartement avec des technologies performantes
---
<div class="banner center-align ">
  <div class="header-show">
    <h3 class="align-center white-text">{{page.slug}}</h3>

 <div class="underline"></div>
  </div>

</div>

<div class="padding">
<p class="flow-text"> Parce que nous plaçons votre bien-être et votre sécurité au-dessus de tout, nous équipons votre résidence avec des technologies performantes séléctionnées chez des fournisseur de référence mondiale</p>


  <div class="main-reference z-depth-1">

  <div class="presentation-header">


    <h4 class="bessa-color"> Intérieur des appartements</h4>

      <ul class="browser-default myli2">
      	<li> Portes d’entrée d’origine italienne sécurité Classe 3 avec isolation thermique et phonique</li>
      	<li> Serrures multipoints de marque italienne ISEO pour les portes d’entrée et serrures mécaniques pour les portes intérieures</li>
      	<li> Digicode et vidéophone de marque sud-coréenne</li>
      </ul>
  </div>
  <div class="presentaion-image">
    <div class="slider">
    <ul class="slides">
      {% for item in site.data.ecodesign.securite.interior.slider %}
      <li>
        <img src="{{item.slide}}" class="responsive-img" alt="{{item.alt}}">
      </li>
      {% endfor %}
      <!-- <li>
        <img src="/img/references/gaya/living4.jpg" class="responsive-img" alt="cuisine">
      </li> -->
    </ul>
  </div>
    </div>
</div>
<div class="main-reference z-depth-1">
  <div class="presentation-header">
    <h4 class="bessa-color"> Parties communes</h4>
   <ul class="browser-default myli3">
   <li> Ascenseur de marque espagnole AstarLifts avec système de sécurité d’arrêt instantané à l’étage en cas de panne ou de séisme</li>
     <li> Parkings avec système de désenfumage et anti incendie aux normes internationales. Certificat de conformité délivré par la Protection Civile</li>
     <li> Portes coupe-feu avec barre anti panique</li>
     <li> Sas de sécurité dans les parties communes</li>
     <li> Système de télésurveillance dans tous les espaces communs</li>
     <li> Barrières et portails télécommandés de marque italienne avec tags d’accès</li>
   </ul>
  </div>
  <div class="presentaion-image">
    <div class="slider">
    <ul class="slides">
      {% for item in site.data.ecodesign.securite.exterior.slider %}
      <li>
        <img src="{{item.slide}}" class="responsive-img" alt="{{item.alt}}">
      </li>
      {% endfor %}

    </ul>
  </div>
  </div>

</div>
    <div class="partner">
          <div class="partner-images " >
          <img src="/img/logos/sime.png" class="img-responsive" alt="sime-logo">
          <img src="/img/logos/asturmadi.png" class="img-responsive" alt="asturmadi-logo">
          <img src="/img/logos/venus-design.png" class="img-responsive" alt="venus-logo">
        </div>
      </div>

</div>
