
<h3 class="center-align margin-top" id="avantages"><span class="underline--magical-full">Nos avantages</span></h3>
<div class="why center-align">


  <div class="row value">
    <div class="col s12 m6 l3 center-align val">
      <span class="fa fa-map-marker" aria-hidden="true"></span>

      <h5>Sites stratégiques</h5>
      <p>Augmentez la valeur de votre bien immobilier avec des résidences faciles d’accès et proches des axes autoroutiers.
</p>
    </div>
    <div class="col s12 m6 l3 center-align val">
      <span class="fa fa-building-o" aria-hidden="true"></span>
      <h5>Gestion de la copropriété</h5>
      <p>Que ce soit pour habiter ou pour louer votre appartement haut standing, vous êtes sûr de bénéficier d'une gestion rigoureuse des résidences par nos administrateurs.</p>
    </div>

    <div class="col s12 m6  l3 center-align val">
      <span class="fa fa-shield" aria-hidden="true"></span>
      <h5>Résidences sécurisées</h5>
      <p>Optez pour la tranquillité avec nos systèmes de sécurité performants et assurés 24h/24 et 7j/7 sur l'ensemble des résidences.</p>
    </div>
    <div class="col s12 m6  l3 center-align val">
      <span class="fa fa-handshake-o handMe" aria-hidden="true"></span>
      <h5>Suivi client personnalisé</h5>
      <p>Du choix de votre  appartement haut standing jusqu’à la remise des clés, nous vous accompagnons à chaque étape de votre projet immobilier.</p>
    </div>
      <div class="col s12 m12">
        <a class="waves-effect waves-light btn apropos" href="/accueil/qui-sommes-nous.html">A propos de nous</a>

      </div>
  </div>
</div>
