<div id="modal1" class="modal">
<div class="modal-content">
<div class="row batimatec">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a class="active"  href="#test1">BATIMATEC</a></li>
        <li class="tab col s3"><a href="#test2">Quand et ou ?</a></li>
      </ul>
    </div>
    <div id="test1" class="col s12">
      <div class="col s12 m6">
        <p>
            Bessa Promotion Immobilière participe &agrave; la 21&egrave;me édition du salon de la BATIMATEC afin de présenter à ses clients et visiteurs ses nouveaux projets.</p>
            <p>Ce salon repr&eacute;sente une opportunité de diversifier notre porte feuille fournisseurs pour &eacute;largir notre gamme de choix.</p>
            <p>L'&eacute;quipe Bessa &eacute;tudie et travaille assid&ucirc;ment pour vous fournir le meilleur et répondre à vos attentes.
         </p>
      </div>
        <div class="col s12 m6">
        <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/NilKk-nZbLQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
      
    </div>

    <div id="test2" class="col s12">
        <div class="col s12 m6">
            <p>Entre le 22 et le 26 Avril 2018</p>
            <p>
                Nous vous donnons R.D.V sur notre stand sis au pavillon central A, entr&eacute;e principale, Hall n &deg;	2.
            </p>
            <a class="btn waves-effect blue white-text darken-text-2" href="https://calendar.google.com/event?action=TEMPLATE&tmeid=M2c1aG40b2lrY3VtdGo0anFicGw5YzBmNGwgYWJvdWJla2VyLmlAYmVzc2Fwcm9tb3Rpb24uY29t&tmsrc=aboubeker.i%40bessapromotion.com"  target="_blank">Add to my google calendar</a>
          </div>
          <div class="col s12 m6">
              <div class="video-container">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3197.5441714559292!2d3.154444114904303!3d36.73350727996225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x128e52737295bead%3A0x3e67233041c45558!2sSafex+-+Foire+d&#39;Alger!5e0!3m2!1sen!2sdz!4v1523539041610" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            </div>
    
    </div>
  
  </div>
 
</div>
<div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Fermer</a>
  </div>
</div>
