

        <div class="contact-us center-align col s12 m12 hoverable">
        <div class="header-show">
        <h3 class="center-align"><span class="underline--magical-full">Une question, une information, une proposition ?</span></h3>
        <div class="underline"></div>
        </div>
         <div class="row">
           <div class="col s12 m12">

          <form name="contact-general" data-netlify="true" netlify-honeypot="bot-field" action="/thanks.html" class="contact-general"  >
            <div class="row">
              <div class="input-field col s12 m6">
                <i class="material-icons prefix">account_circle</i>
                <input  id="first_name" type="text" class="validate" name="Prenom" required>
                <label for="first_name">Prénom</label>
              </div>
              <input name="bot-field" style="opacity:0">
              <div class="input-field col s12 m6">
                <i class="material-icons prefix">account_circle</i>
                <input id="last_name" type="text" class="validate active" name="Nom" required>
                <label for="last_name" >Nom</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12 m12">
                <i class="material-icons prefix">email</i>
                <input id="email" type="email" class="validate" name="Email" required>
                <label for="email">Email</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12 m12">
                <i class="material-icons prefix">phone</i>
                <input id="phone" type="tel" class="validate" name="telephone" required>
                <label for="phone">Téléphone</label>
              </div>
            </div>

            <div class="input-field col s12">
              <select name="type-de-demande" required>
                <option value="" disabled selected>Type de demande</option>
                <option value="Demande d'informations">Demande d'informations</option>
                <option value="Demande a être rappelé">Demande a être rappelé</option>
                <option value="Suggestions">Suggestions</option>
                <option value="Offre de services">Offre de services</option>
              </select>
              <label>Type de demande</label>
            </div>
            <input type="hidden" name="_subject" value="Nouveau contact recu" />
            <input type="hidden" name="_language" value="fr" />
            <input type="hidden" name="_next" value="/thanks.html" />

            <div class="row">
         <div class="col m12">
           <div class="row">
             <div class="input-field col m12">
               <i class="material-icons prefix">textsms</i>
               <textarea id="textarea1"  class="materialize-textarea" name="Message" required></textarea>
               <label for="textarea1">Message</label>
               <button class="btn waves-effect waves-light" type="submit">Envoyer
            <i class="material-icons right white-text">send</i>
          </button>
             </div>
           </div>
         </div>
       </div>
          </form>
          </div>
        </div>
        <div class="social-contact">
          <a href="https://www.linkedin.com/company/bessapromotion"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          <a href="https://www.youtube.com/channel/UCZVKa9mTpLu7TSvEE0W4X8g"> <i class="fa fa-youtube" aria-hidden="true"></i></a>
          <a href="https://www.facebook.com/PromotionBessa/"> <i class="fa fa-facebook" aria-hidden="true"></i> </a>
          <a href="https://twitter.com/bessapromotion"> <i class="fa fa-twitter" aria-hidden="true"></i> </a>

        </div>
      </div>
