<div class="contact-us center-align col s12 m12">
        <div class="header-show">
        <h4 class="center-align"><span class="underline--magical-full">Contactez nous pour plus d'information</span></h4>
        <div class="underline"></div>
        </div>
         <div class="row">
           <div class="col s12 m12">

          <form name="contact-devis-{{page.slug}}" data-netlify="true" netlify-honeypot="bot-field" action="/thanks.html" class="contact-general"  >
            <input name="bot-field" style="opacity:0" class="bot-filed">

            <div class="row">
              <div class="input-field col s12 m6">
                <i class="material-icons prefix">account_circle</i>
                <input  id="first_name" type="text" class="validate" name="Prenom" required>
                <label for="first_name">Prénom</label>
              </div>
              <div class="input-field col s12 m6">
                <i class="material-icons prefix">account_circle</i>
                <input id="last_name" type="text" class="validate active" name="Nom" required>
                <label for="last_name" >Nom</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12 m6">
                <i class="material-icons prefix">email</i>
                <input id="email" type="email" class="validate" name="Email" required>
                <label for="email">Email</label>
              </div>


              <div class="input-field col s12 m6">
                <i class="material-icons prefix">phone</i>
                <input id="telephone" type="tel" class="validate" name="telephone" required>
                <label for="telephone">Telephone</label>
              </div>
            </div>
            <div class="input-field col s12">
              <select name="devis-pour-{{page.slug}}" required>
                <option value="" disabled selected>Sélectionnez le type d'appartement souhaité</option>
                {%for residence in site.data.offres[page.offre] %}
                <option value={{residence.type}}>{{residence.type}}</option>

                {% endfor %}

              </select>
              <label>Type d'appartement</label>
            </div>

            
                <div class="input-field col m12">
                  <i class="material-icons prefix">textsms</i>
                  <textarea id="textarea1"  class="materialize-textarea" name="Message" required maxlength="300"></textarea>
                  <label for="textarea1">Message</label>
                  <button class="btn waves-effect waves-light" type="submit">Envoyer
                     <i class="material-icons right white-text">send</i>
                  </button>
                </div>
             
            <input type="hidden" name="_subject" value="Nouveau contact recu" />
            <input type="hidden" name="_language" value="fr" />
            <input type="hidden" name="_next" value="/thanks.html" />
          </form>
          </div>
        </div>
      </div>
