<div class="navbar-fixed">

<nav>
  <div class="nav-wrapper z-depth-2">
    <div class="shape"></div>
    <a href="/" class="brand-logo"><img src="{{ site.url}}/img/{{site.data.images.logo-v}}" alt="logo bessa"></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse show-on-med"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      {% for item in site.data.navigation.links %}

      <li><a href="{{item.url}}" alt="{{ item.title }}" class="dropdown-button" {% if item.id %}data-activates="{{item.id }}"{% else %}data-activates="{{item.title }}"{% endif %}>{{ item.title }}</a></li>

      {% endfor %}

    </ul>
    <!-- dropdown submenus -->
    <ul id='accueil' class='dropdown-content'>
      {% for item in site.data.navigation.sublinksaccueil %}
      {% if page.url == item.url %}
      <li><a href="{{item.url}}" class="active-class">{{item.title}}</a></li>
          {% else %}
       <li><a href="{{item.url}}">{{item.title}}</a></li>
       {% else %}
         {% endif %}
       <li class="divider"></li>

         {% endfor %}
   </ul>
   <ul id='references' class='dropdown-content'>
     {% for item in site.data.navigation.sublinksreferences %}
     {% if page.url == item.url %}
     <li><a href="{{item.url}}" class="active-class">{{item.title}}</a></li>
         {% else %}
      <li><a href="{{item.url}}">{{item.title}}</a></li>
      {% else %}
        {% endif %}
        <li class="divider"></li>
        {% endfor %}
  </ul>
  <ul id='nouveautes' class='dropdown-content'>
    {% for item in site.data.navigation.sublinksnouveautes %}
    {% if page.url == item.url %}
    <li><a href="{{item.url}}" class="active-class">{{item.title}}</a></li>
        {% else %}
     <li><a href="{{item.url}}">{{item.title}}</a></li>
     {% else %}
       {% endif %}
     <li class="divider"></li>


       {% endfor %}
 </ul>


<ul id='projets-en-cours' class='dropdown-content'>
  {% for item in site.data.navigation.sublinksprojetsencours %}
  {% if page.url == item.url %}
  <li><a href="{{item.url}}" class="active-class">{{item.title}}</a></li>
      {% else %}
   <li><a href="{{item.url}}">{{item.title}}</a></li>
   {% else %}
     {% endif %}
   <li class="divider"></li>


     {% endfor %}
</ul>

<ul id='Eco-design' class='dropdown-content'>
  {% for item in site.data.navigation.sublinksecodesign %}
  {% if page.url == item.url %}
  <li><a href="{{item.url}}" class="active-class">{{item.title}}</a></li>
      {% else %}
   <li><a href="{{item.url}}">{{item.title}}</a></li>
   {% else %}
     {% endif %}
   <li class="divider"></li>


     {% endfor %}
</ul>

<ul id='services' class='dropdown-content'>
  {% for item in site.data.navigation.sublinksservice %}
  {% if page.url == item.url %}
  <li><a href="{{item.url}}" class="active-class">{{item.title}}</a></li>
      {% else %}
   <li><a href="{{item.url}}">{{item.title}}</a></li>
   {% else %}
     {% endif %}
   <li class="divider"></li>


     {% endfor %}
</ul>

 <!-- nav mobile -->
    <ul class="side-nav" id="mobile-demo">
      <li><img src="{{ "img/logo-v.png" | relative_url }}" alt="logo bessa "></li>
      <li class="sub-mobile-trigger">
        <a href="#">Accueil <span class="fa fa-angle-down" aria-hidden="true"></span></a>
        <ul class="sub-mobile-items white-text">
          {% for item in site.data.navigation.sublinksaccueil %}
          <li><a href="{{item.url}}">{{item.title}}</a></li>
          {% endfor %}
        </ul>
      </li>
      <div class="divider"></div>
      <li class="sub-mobile-trigger">
        <a href="#">Références <span class="fa fa-angle-down" aria-hidden="true"></span></a>
        <ul class="sub-mobile-items">
          {% for item in site.data.navigation.sublinksreferences %}
          <li><a href="{{item.url}}">{{item.title}}</a></li>
          {% endfor %}
        </ul>
      </li>
      <div class="divider"></div>
      <li class="sub-mobile-trigger"><a href="#">Nouveautés <span class="fa fa-angle-down" aria-hidden="true"></span></a>
        <ul class="sub-mobile-items">
          {% for item in site.data.navigation.sublinksnouveautes %}
          <li><a href="{{item.url}}">{{item.title}}</a></li>
          {% endfor %}
        </ul>
      </li>
      <div class="divider"></div>
      <li class="sub-mobile-trigger"><a href="#">Projets en cours<span class="fa fa-angle-down" aria-hidden="true"></span></a>
        <ul class="sub-mobile-items">
          {% for item in site.data.navigation.sublinksprojetsencours %}
          <li><a href="{{item.url}}">{{item.title}}</a></li>
          {% endfor %}
        </ul>
      </li>
      <div class="divider"></div>
      <li class="sub-mobile-trigger"><a href="#">Eco design<span class="fa fa-angle-down" aria-hidden="true"></span></a>
        <ul class="sub-mobile-items">
          {% for item in site.data.navigation.sublinksecodesign %}
          <li><a href="{{item.url}}">{{item.title}}</a></li>
          {% endfor %}
        </ul>
      </li>
      <div class="divider"></div>
      <li class="sub-mobile-trigger"><a href="#">Services<span class="fa fa-angle-down" aria-hidden="true"></span></a>
        <ul class="sub-mobile-items">
          {% for item in site.data.navigation.sublinksservice %}
          <li><a href="{{item.url}}">{{item.title}}</a></li>
          {% endfor %}
             </ul>
      </li>
      <div class="divider"></div>
      <li><a href="/recrut.html">Recrutement</a></li>
      <div class="divider"></div>
      <li><a href="/contactez-nous.html" class="waves-effect waves-light btn">Contactez-nous</a></li>
      <li><a href="tel:+21323283863" class="waves-effect waves-light btn">+213-23-28-38-63</a></li>
    </ul>
  </div>
</nav>
</div>

<main>
