<div class="card">
  <div class="card-content">
    <p class="flow-text padding justify-align">
    Nous vous remercions de l’intérêt que vous portez à nos programmes immobiliers, pour une présentation plus détaillée, nous vous invitons à nous contacter aux numéros de téléphone et adresse email ci-dessous, ou se rapprocher de notre Direction Générale à Ouled Fayet soit de nos bureaux de liaison commerciale à Bir Khadem et Bab Ezzouar
    </p>
  </div>
  <div class="card-tabs">
    <ul class="tabs tabs-fixed-width">
      <li class="tab"><a class="active" href="#test4">Direction generale et services commercial</a></li>
      <li class="tab"><a  href="#test5">Service Commercial Birkhadem</a></li>
      <li class="tab"><a href="#test6">Service Commercial Bab Ezzouar</a></li>
    </ul>
  </div>
  <div class="card-content grey lighten-4">
    <div id="test4">
      <div class="info-contact">

      <address>
        136 logts, route de Cheraga Oueled Fayet
      </address>
      <div class="info">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <span><a href="tel:+21323283863">+21323283863</a></span>
        <span style="color:#c40d1e;">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
        <span><a href="tel:+21323283863">+21323283864</a></span>
        <span style="color:#c40d1e;">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
        <span><a href="tel:+21323283863">+21323283865</a></span>
      </div>
      <div class="info">
        <i class="fa fa-fax" aria-hidden="true"></i>
        <span><a href="#">+21323283868</a> </span>
      </div>
      <div class="info">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <span><a href="tel:+213560016565">+213560016565</a></span>
      </div>
      <div class="info">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <span><a href="tel:+213560016767">+213560016767</a></span>
      </div>
      <div class="info">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <span><a href="tel:+213560016868">+213560016868</a></span>
      </div>
      <div class="info">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <span><a href="tel:+213560016969">+213560016969</a></span>
      </div>
      <div class="info">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        <a href="mailto:contact@bessapromotion.com">contact@bessapromotion.com</a>
      </div>
    </div>
    </div>
    <div id="test5">
      <div class="info-contact">

      <address>
         Route Djnane Sfari ,Birkhadem
      </address>
      <div class="info">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <span><a href="tel:+21321452386">+21321452386</a> </span>
      </div>
      <div class="info">
        <i class="fa fa-fax" aria-hidden="true"></i>
        <span><a href="#">+21321452360</a> </span>
      </div>
      <div class="info">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <span><a href="tel:+213560015959">+213560015959</a> </span>
      </div>

      <div class="info">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        <a href="mailto:contact@bessapromotion.com">contact@bessapromotion.com</a>
      </div>
    </div>
    </div>
    <div id="test6">
      <div class="info-contact">

      <address>
         178 Lot Boushaki, Bab Ezzouar

      </address>
      <div class="info">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <span><a href="tel:+21323832371">+21323832371</a> </span>
      </div>
      <div class="info">
        <i class="fa fa-fax" aria-hidden="true"></i>
        <span><a href="#">+21323283868</a> </span>
      </div>
      <div class="info">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <span><a href="tel:+213560016464">+213560016464</a> </span>
      </div>

      <div class="info">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        <a href="mailto:contact@bessapromotion.com">contact@bessapromotion.com</a>
      </div>
    </div>
    </div>
  </div>
</div>
