<div class="newsletter-container-blog z-depth-2">
<div class="newsletter">
<h5 class="grey-text text-darken-2">Inscrivez-vous à notre liste pour recevoir régulièrement nos offres</h5>

<div id="mc_embed_signup">
<form action="//bessapromotion.us16.list-manage.com/subscribe/post?u=c38651884696a9f29bdc54ee3&amp;id=b54cd5da35" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
<div class="indicates-required bessa-color" style="font-size:0.8em"><span class="asterisk bessa-color">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c38651884696a9f29bdc54ee3_b54cd5da35" tabindex="-1" value=""></div>
    <div class="clear center-align"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn waves-effect waves-light bessa-bg-red white-text"></div>
    </div>
</form>
</div>


</div>
</div>
