<div class="quote-media-wrapper">

  <div class="quote-media">
  <p class="flow-text white-text"><i class="fa fa-quote-left" aria-hidden="true"></i>
A Alger, tout le monde a dû remarquer ces luxueuses résidences érigées notamment sur les hauteurs de la capitale, qui donnent un aspect harmonieux et dont l’architecture se distingue par un raffinement digne d’une métropole que doit être la ville blanche. Ces résidences sont l’œuvre du Groupe Bessa
<i class="fa fa-quote-right" aria-hidden="true"></i>
<p/>
<p class="align-right alg-eco ">Algérie Eco</p>
</div>
  </div>
