
  <div class="sidebar">
    <div class="sidbar-trigger">
  <span class="fa fa-arrow-left" aria-hidden="true"></span>
  </div>
  <div class="social">
    <a href="https://www.linkedin.com/company/bessapromotion"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    <a href=""> <i class="fa fa-google-plus" aria-hidden="true"></i></a>
    <a href="https://www.youtube.com/channel/UCZVKa9mTpLu7TSvEE0W4X8g"> <i class="fa fa-youtube" aria-hidden="true"></i></a>
    <a href="https://www.facebook.com/PromotionBessa/"> <i class="fa fa-facebook" aria-hidden="true"></i> </a>
    <a href="https://twitter.com/bessapromotion"> <i class="fa fa-twitter" aria-hidden="true"></i> </a>
    <a href="/contactez-nous.html"> <i class="fa fa-envelope-o" aria-hidden="true"></i> </a>
  <a href="tel:+21323283863"></a>  <i class="fa fa-phone" aria-hidden="true"></i>

  </div>
  </div>
