<div class="newsletter-container-blog margin-top">
<div class="newsletter">
<h5 class="center-align grey-text text-darken-2" style="margin-top:0px">Suivez nous</h5>
<div class=" center-align ">

    <a href="https://www.linkedin.com/company/bessapromotion"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    <a href=""> <i class="fa fa-google-plus" aria-hidden="true"></i></a>
    <a href="https://www.youtube.com/channel/UCZVKa9mTpLu7TSvEE0W4X8g"> <i class="fa fa-youtube" aria-hidden="true"></i></a>
    <a href="https://www.facebook.com/PromotionBessa/"> <i class="fa fa-facebook" aria-hidden="true"></i> </a>
    <a href="https://twitter.com/bessapromotion"> <i class="fa fa-twitter" aria-hidden="true"></i> </a>

</div>
</div>


</div>
