body {
  font-family: "Roboto", Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 700;
}

.text-present-section {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
.text-present-section h3 {
  color: #c40d1e;
}

.features-icons-item .feature-text {
  font-size: 1rem !important;
}
.features-icons-item h4 {
  font-size: 1.2rem;
}

.showcase-text .describ-text {
  font-size: 1.1rem;
  color: #495057;
}

.form-input {
  padding-top: 1rem;
}

.contact-section {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: #c40d1e;
}
.contact-section h2 {
  color: #fff;
}
.contact-section .form-control {
  background-color: #c40d1e;
  border-color: rgba(255, 255, 255, 0.3);
  color: #ced4da;
}
.contact-section .form-control:focus {
  box-shadow: 0 0 10px 0.2rem rgba(236, 238, 241, 0.25);
  border-color: #fff;
}
.contact-section ::placeholder {
  color: rgba(255, 255, 255, 0.3);
}
.contact-section .btn-send-msg span {
  color: #c40d1e;
  font-weight: 500;
}
.contact-section .btn-send-msg:hover {
  background-color: #c40d1e;
}
.contact-section .btn-send-msg:hover span {
  color: #fff;
}

.footer {
  background-image: url("../img/landing-fusion/footer-bg.jpg");
  background-size: cover;
}

.text-copy-right {
  color: #ced4da;
}

.logo-container {
  position: absolute;
  top: 0;
  left: 0;
}

header.masthead {
  position: relative;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../img/landing-fusion/bg-masthead.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}
header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}
header.masthead h1 {
  font-size: 2rem;
}
@media (min-width: 768px) {
  header.masthead {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

.showcase .showcase-text {
  padding: 3rem;
}
.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}
@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 5rem;
  }
}

.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.features-icons .features-icons-item {
  max-width: 20rem;
}
.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}
.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}
.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.testimonials .testimonial-item {
  max-width: 18rem;
}
.testimonials .testimonial-item img {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

.call-to-action {
  position: relative;
  background-color: #343a40;
  background: url("../img/landing-fusion/bg-masthead.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.call-to-action .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

footer.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/*# sourceMappingURL=landing-page.css.map */
