body,html{
    margin: 0px;
    padding:0px;
    font-family: sans-serif;
}
.hero{
    background: linear-gradient(hsla(0, 0%, 0%, 0.2), hsla(0, 0%, 0%, 0.2)),url("../img/residence/fusion2/2.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    padding: 200px 20px;
}
