@import "materialize/materialize";
body{
  color: #000;
  font-family: sans-serif;
}
nav{
  background: white;
}
.container{
  position: relative;
  color: black;
}
strong{
  color:#c40d1e;
}
.features{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  .description{
    background: #0984e3;
    color: white;
    padding: 20px;
    h3{
      font-size: 24px;
    }
  }
  .feature{
    h4{
      font-size:24px;
      color:#c40d1e;
      font-weight: bold;
    }
    h4,p{
      padding: 12px;
    }
    img{
      height: 300px;
      width: 100%;
      object-fit: cover;

    }
  }
}
.parallax-container .parallax img{
  display: block;
}
.parallax-container .parallax h1{
    position: absolute;
    font-size: 100px;
    font-weight: bold;
    color: white;
    top: 50%;
    z-index: 101;
    transform: translateY(-50%)
}
.parallax-container {
  height: 85vh;
}
.logo{
  position: absolute;
  width: 300px;
  z-index: 100;
  right: 10px;
}
.btn{
  background:#c40d1e
}
.form{
  padding: 40px;
}
.ameneties{
  max-width: 800px;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  flex-wrap: wrap;
 
  i{
    color: #c40d1e;
  }
  span{
    font-size: 18px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
    padding: 4px;
  }
}
