@import "materialize/materialize";
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v30/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
$bessa-color: #c40d1e;
$bessa-color-secondary: #616161;

* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll; }

.bessa-color {
  color: $bessa-color !important; }

.bessa-bg-red {
  background: $bessa-color !important; }

.material-icons {
  color: black;
}

.buttons {
  margin-top: 20px; }

.dropdown-content.select-dropdown li span {
  color: black; }

body {
  background: #e0e0e0;
}
  body .bg-bessa {
    background: #fff; }

main {
  flex: 1 0 auto; }

.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.is-showing {
  opacity: 1 !important;
  transform: translateY(0px) !important; }

.preloader {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 10000; }



.brand-logo {
    width: 140px;
    margin-left: 20px;
    margin-top: 6px;
    display: block;
  img {
  width: 100%;
 }
}

.shape {
  height: 0px;
  width: 0px;
  position: absolute;
  top: 40px;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 40px solid white;
  border-radius: 0%;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
 }

nav {
  background: white; }
  nav li a {
    color: $bessa-color-secondary;
    font-size: 1em;
    font-weight: 400;
   }

nav ul a:hover {
  background: rgba(196, 13, 30, 0.9);
  color: white;
  box-shadow: 1px 1px 2px white inset; }
.active-class{
  background:  #333;
  color: white !important;
}
nav .dropdown-content {
  min-width: 220px;
  background: white; }

nav .dropdown-content li a:hover {
  color: white;
  background: #333;
}

nav .dropdown-content li > a, .dropdown-content li > span {
  color: $bessa-color-secondary;
  font-size: 1em; }

.side-nav img {
 margin-left:10px;
 padding: 10px;
 }
.side-nav li > a:hover {
  background: grey; }

.sub-mobile-items {
  display: none;
  transition: 600ms ease-in-out;
  opacity: 0; }

.sub-menu-active {
  display: block;
  opacity: 1; }

@media (max-width: 1020px) {
  
  .shape {
    display: none; } }

@media (max-width: 620px) {
  .brand-logo {
    width: 100px;
    margin-left: 0px;
    margin-top: 6px;
  }
  .cta a {
    font-size: 14px; } }
    

.sidebar {
  position: fixed;
  top: 30vh;
  right: 0px;
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
  z-index: 300; }
  .sidebar .sidbar-trigger {
    background: $bessa-color;
    padding: 20px;
    cursor: pointer;
    color: white;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
    transition: 300ms ease-in-out; }
    .sidebar .sidbar-trigger:hover {
      transform: translate(-2px); }
  .sidebar .social {
    animation: yoyo 500ms ease-in-out;
    background: $bessa-color;
    flex-direction: column;
    justify-content: center;
    z-index: 0;
    padding: 16px;
    display: none; }
    .sidebar .social i {
      font-size: 18px;
      display: block;
      color: white;
      margin-left: 10px;
      background: black;
      padding: 10px;
      border-radius: 100%;
      margin: 10px 0px;
      transition: 300ms ease-in-out;
      cursor: pointer; }
      .sidebar .social i:hover {
        background: white;
        color: black; }

.change {
  transform: rotate(180deg); }

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 100;
  border: none;
  outline: none;
  background-color: $bessa-color;
  color: white;
  cursor: pointer;
  padding: 25px;
  border-radius: 10px; }

@keyframes yoyo {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

.call-to-action {
  color: black;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  font-size: 50px; }
  .call-to-action h1 {
    font-weight: 200;
    margin: 0px;
    color: black;
    background: lightblue; }
  .call-to-action a {
    margin-top: -10px;
    display: block; }
    .call-to-action a i {
      color: white;
      background: $bessa-color;
      font-size: 30px;
      padding: 20px;
      border-radius: 100%; }

.banner {
  animation: fade-in 1s ease-in-out forwards;
  background: $bessa-color;
  width: 100%;
  padding: 20px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  h1{
    margin: 0px;
    font-size: 30px;
  }
  h4{
    font-size: 24px;
    background: rgba(0,0,0,0.5);
    margin: 3px;
    padding: 2px 6px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  }

  }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

video {
  width: 100% !important;
  height: auto; }

.main-reference {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px;
  margin: 20px 0px;
  align-items: center; }
  .main-reference .presentation-header {
    width: 50%;
    padding: 20px;
  }
    .main-reference .presentation-header h4 {
      font-weight: 300;
      text-align: center;
      font-size: 2em; }
    .main-reference .presentation-header p {
      font-weight: 300;
      text-align: center;
      font-size: 1.5em; }
  .main-reference .presentaion-image {
    width: 50%;
    position: relative;
    transition: 800ms ease-in-out; }
    .main-reference .presentaion-image:hover .bessa-style {
      border-right: 25px solid transparent;
      border-left: 25px solid transparent;
      border-top: 25px solid white;
      position: absolute;
      top: 0px;
      left: 50%;
      transform: translate(-50%);
      opacity: 1; }
    .main-reference .presentaion-image img {
      box-shadow: 0px 2px 5px black; }

@media (max-width: 600px) {


  .main-reference {
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; }
    .main-reference .presentation-header {
      width: 100%; }
      .main-reference .presentation-header h4 {
        font-weight: 300;
        text-align: center;
        font-size: 2em; }
      .main-reference .presentation-header p {
        font-weight: 200;
        text-align: center;
        font-size: 1.5em; }
    .main-reference .presentaion-image {
      width: 100%; }
      .main-reference .presentaion-image img {
        box-shadow: 2px 2px 5px black; } }
.card-reveal span.card-title {
  color: $bessa-color !important;

}
.justify-align {
  text-align: justify; }

.quote-media {
  padding: 50px;
  background: $bessa-color;
  transition: all 300ms ease-in-out;
  transform: translateX(-500px);
  transition: all 1s ease; }
  .quote-media:hover {
    box-shadow: 1px 1px 35px white inset; }
  .quote-media:hover .alg-eco {
    opacity: 1; }
  .quote-media p {
    text-align: justify;
    margin: 0px;
    color: yellow; }
  .quote-media .alg-eco {
    text-align: right;
    transition: 500ms 2s ease-in-out;
    color: white;
    font-size: 1.2em;
    font-weight: 200;
    // background: white;
    display: inline-block;
    padding: 10px;
    border-radius: 1px;
    margin: 10px;
    opacity: 0; }

@media (max-width: 600px) {
  .banner{
    padding: 40px;
  }

  .quote-media {
    padding: 50px; }
    .quote-media p {
      text-align: left; }
.justify-align {
  text-align: center;
}

    }



.letter {
  padding: 40px 0px; }
  .letter .pdg::first-letter {
    font-size: 70px;
    color: $bessa-color; }

@media (max-width: 650px) {
  .letter-wrapper {
    padding: 10px; }
    .letter-wrapper .letter {
      padding: 20px; } }

.why {
  padding: 10px 0px;
   }
  .why .value {
    margin: 40px 0px; }
    .why .value .val {
      opacity: 0;
      padding: 20px;
      transition: 400ms ease-in-out;
      transform: translateY(-50px); }
      .why .value .val span {
        padding: 30px;
        background: $bessa-color;
        color: white;
        font-size: 30px;
        transition: all 400ms ease;
        border-radius: 100%; }
      .why .value .val:hover span {
        box-shadow: 2px 2px 25px -10px black;
        transform: translateY(-5px); }
      .why .value .val:hover h5 {
        color: $bessa-color; }
      .why .value .val .handMe {
        padding: 30px 23px; }
      .why .value .val p {
        max-width: 330px;
        margin: 0 auto; }

.apropos {
  margin-top: 20px; }

h3 {
  position: relative;
  font-weight: 300;
  margin-bottom: 20px; }

.blog-header{
  font-weight: 700;
  color: $bessa-color ;
  a{
    color: $bessa-color ;
  }

}
.newsletter-container {
  padding: 20px;
  background: $bessa-color;
  color: white;
  opacity: 0;
  transform: translateX(-500px);
  transition: all 1s ease; }
  .newsletter-container-blog {
    padding: 20px;
    background: white;
    color: black;
    a{
      font-size: 20px;
      margin-left: 8px;
      i{
        color: $bessa-color;
        font-size: 1.5em;
      }
    }
  }
  .newsletter-container .newsletter {
    max-width: 840px;
    margin: 0 auto; }
    .newsletter-container .newsletter .input-field {
      display: flex;
      justify-content: center;
      align-items: center;


    }
      .newsletter-container .newsletter .input-field button {
        margin: 15px; }

.newsletter-showing {
  opacity: 1;
  transform: translateX(0px); }

.grid {
  background: #DDD;
  margin: 0 auto; }

.grid-sizer {
  width: 30.33%; }

.grid-item {
  float: left;
  width: 30.33%;
  margin-bottom: 10px; }
  .grid-item:hover .item-overlay {
    top: 0px; }
  .grid-item img {
    max-width: 100%;
    display: block;
    transition: all 400ms ease-in-out; }
    .grid-item img:hover {
      transform: scale(1.01);
      filter: drop-shadow(1px 1px 5px black); }
  .grid-item .item-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px; }

footer {
  clear: both;
  z-index: -1;
  overflow: hidden;
  position: fixed;
  bottom: 0px;
  box-sizing: border-box;
  left: 50%;
  transform: translate(-50%);

  }

.bg-image {
  height: 60vh;
  background: url("../img/equipe.jpg");
  background-position: 10px 0px 10px 0px;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; }

.m-top {
  margin: 20px 0px;
}

.footer-logo img {
  width: 180px;
  margin-left: 20px;

}

.votre {
  height: 20px;
  width: 2px;
  transform: translateY(3px);
  background: red;
  display: inline-block;
  margin-right: 2px; }

.contact-us {
  padding: 50px; }

.btn {
  background: $bessa-color;
  border-radius: 8px;
  transition: 300ms ease-in-out;
 }
  .btn:hover {
    background: black;
    color: white;
    transform: translateY(5px);

  }

.btn-white {
  background: white;
  font-weight: 300;
  border-radius: 2px;
  color: black;
  padding: 8px 20px;
  transition: all 300ms ease-in-out; }
  .btn-white:hover {
    background: rgba(255, 255, 255, 0.9); }

@media (max-width:600px){
 
  .hero-img{
    width: 100%;
    margin-top: 40px;
  }
}


@keyframes arrow {

  50%{

    transform: translateY(10px);

  }
  100%{
    opacity: 1;
    transform: translateY(0px);

  }
}
.presentation-residence{
  background: #f5f5f5;
  padding: 20px 30px;
  color: $bessa-color-secondary;
  h2{
    margin: 0px
  }
  p{
    // text-shadow: 1px 10px 100px;
    font-size: 1.2em;
  }

}
.padding{
  padding: 40px;
}
// avancement
.avancement{
  background: #fff;
  transition: transform .3s ease-out;
  padding: 10px 20px 0px 0px;
  margin: 10px 20px;


  h4{
    color: $bessa-color !important;
    font-weight: 500 !important;
  }

  p{
    color: $bessa-color;
    font-size: 1em !important;
  }
  img{
    filter: grayscale(0%);
    transition: transform 400ms ease-in-out;
  }
  img:hover{
    transform: scale(1.01);
  }

  .caption-magic{
    color: $bessa-color-secondary ;
    font-size: 1.5em !important;

  }
}
.avancement:hover{
  transform: scale(1.01);
  box-shadow: 2px 2px 25px #d4d4db;
  background: #fdfdfd;
}

  // eco-design

.eco-gallery{
  width: 100%;
  padding: 50px;
  // background: pink;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  img{
    margin: 10px;
  }

}

.margin-top{
  margin-top: 50px;
}

// securite
.photo-gallery{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  img{
    margin: 10px;

  }
}
.underline--magical {
  background-image: linear-gradient(120deg, #84fab0 20%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  &:hover {
    background-size: 100% 88%;
  }
}

.underline--magical-full {
  font-weight: 600;
  color: $bessa-color;



}
.partner{
  margin: 50px 0px;
  // padding: 20px;
  h2{
    margin-bottom: 50px;
  }
  .partner-images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    img{
      filter: grayscale(50%);
      transition: 300ms ease-in-out;

    }
    img:hover{
      filter: grayscale(0%);
    }
  }
}
.myli li,.myli1 li,.myli2 li, .myli3 li {
  opacity: 0;
  font-size: 20px;
}
.bg-404{
  height: 100vh;
  background: url("../img/404.jpg");
  background-position: center;
  background-size: cover;
  .cta-404{
    display: flex;

    justify-content: center;
    padding-top: 50px;
    a{
      margin-left: 10px;
    }
  }
}
// ipad navbar hack
@media (max-width:1025px){
  .container{
    width: 100% !important;

  }

  .shape{
    display: none;
  }
}
// another hack for the residence layout page

.delivery-date{
  background: #f5f5f5;
  color: $bessa-color-secondary;
  text-align: center;
  padding: 20px 10px;
}
@media (max-width: 800px) {
.padding{
  padding: 20px;
}
.avancement{
  background: #fff;
  transition: transform .3s ease-out;
  padding:  0px 0px ;
  margin: 0px;


  h4{
    color: $bessa-color !important;
    font-weight: 500 !important;
  }

  p{
    color: $bessa-color;
    font-size: 1em !important;
  }
  img{
    filter: grayscale(10%);
  }
  .caption-magic{
    color: $bessa-color-secondary ;
    font-size: 1.5em !important;

  }
}

}

// styling the info contact page
.info-contact{
  padding: 20px;
  address{
    font-weight: 600;
    font-size: 16px;
  }
  .info{
    padding: 12px;
  i{
    color: $bessa-color;
    margin-right: 12px;
    font-size: 18px;
  }
  a{
    font-size: 14px;

  }
  }
}
// iframe styling
.map{
  filter: grayscale(80%);
}
// side nav overlay fix 996 or lower
#sidenav-overlay {
  z-index: 996;
}


//
.owl-theme .owl-controls .owl-page {
    display: inline-block;
}
.owl-theme .owl-controls .owl-page span {
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}
p{
  margin-top: 10px !important;
  margin-bottom: 10px !important;

}
.thanks-page-container{
  max-width: 600px;
  margin: 20px auto;
  align-items: center;

  padding: 10px 0px;
  .thanks-merci{
    text-align: center;
    h1{
      font-size: 2em;
      font-weight: 400;
    }
    i{
      font-size: 50px;
      color: $bessa-color;
    }
  }
  .thanks-social{
    display: flex;
    justify-content: center;
    font-size: 2em;
    i{
      margin-left: 10px;
      color: $bessa-color !important;
    }
  }
}
.social-contact{
  display: flex;
  justify-content: space-around;
  i{
    font-size: 26px !important;
    color: $bessa-color;
  }
}
// helper classes

.row-reverse{
  flex-direction: row-reverse;
}


@media (max-width: 600px) {
  header{
    flex-direction: column;
    .hero-message{
      margin-top: 60px;
    }
  }
  .reverse{
    display: flex;
    flex-direction: column-reverse;

  }
  

}

.location-icon{
  display: flex;
  align-items: center;
}

.item.hero-slider{
  position:relative;
  div{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    h1{
      color: white;
    }
  }
}

.hero{
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 60vh;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
  a{
    background: #c40d1e;
    color: #ffffff;
    padding: 8px 12px;
    margin: 5px;
    transition: 300ms ease-in-out;
    &:hover{
      background: transparent;
      color: white;
      border: 2px solid white;
      box-shadow: 0px 0px 0px 3px white inset;
    }
  }
  h1{
    
    font-size: 72px;
    color: white;
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
  }
}

.blog{
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  
  .hero-blog{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    // background: linear-gradient(to right, #0f2027, #203a43, #2c5364); 
    background-image: url('../img/blog/blog.jpg');
    background-size: cover;
    background-position: bottom;
    h2{
      color: black;
    }
    h5{
      font-size: 0.8rem;
      color: white !important;
    }

  }
  .scroll-blog{
    overflow-y: auto;
    width: 50%;
    margin: 0 auto;

    .blog-article{
    max-width: 600px;
    display: block;
    color: rgba(25,17,34,0.8);
    padding: 60px;
    margin: 20px auto;
    box-shadow: 0 3px 10px rgba(25,17,34,0.05);
    border-radius: 4px;
    -webkit-transition: 250ms cubic-bezier(0.4,0,0.2,1),-webkit-transform 250ms cubic-bezier(0.4,0,0.2,1),box-shadow 250ms cubic-bezier(0.4,0,0.2,1),padding 250ms cubic-bezier(0.4,0,0.2,1);
    -webkit-transition: 250ms cubic-bezier(0.4,0,0.2,1),transform 250ms cubic-bezier(0.4,0,0.2,1),box-shadow 250ms cubic-bezier(0.4,0,0.2,1),padding 250ms cubic-bezier(0.4,0,0.2,1);
    transition: 250ms cubic-bezier(0.4,0,0.2,1),transform 250ms cubic-bezier(0.4,0,0.2,1),box-shadow 250ms cubic-bezier(0.4,0,0.2,1),padding 250ms cubic-bezier(0.4,0,0.2,1);
    h4{
      font-size: 28px;
      color: $bessa-color;
      font-weight: bold;
    }
    }
    &:hover{
      box-shadow: 0 10px 42px rgba(25,17,34,0.1);
     -webkit-transform: translateY(-4px);
     -ms-transform: translateY(-4px);
     transform: translateY(-4px);
      color: rgba(25,17,34,0.5);
    }

  }
}
@media(max-width: 700px){
  .blog{
    height: auto;
  .hero-blog{
    width: 100%
  }
  .scroll-blog{
    width: 100%;
  }
}
}
.single-post h2{
  font-weight: 500;
  letter-spacing: 0px;
  font-size: 20px;
  font-style: normal;
  font-variant: inherit;
}
/* Share Bar */
#share-bar {
  font-size: 20px;


/* Title */


/* All buttons */
.share-buttons {
  font-family: sans-serif;
  font-size: 14px;
}

/* Each button */
.share-button {
  margin: 0px;
  margin-bottom: 10px;
  margin-right: 3px;
  border: 1px solid #D3D6D2;
  padding: 5px 10px 5px 10px;
}
.share-button {
  opacity: 1;
  color: #ffffff;
}
.share-button:hover {
  opacity: 1;
  background: #ffffff;
}

/* Facebook button */
.fa-facebook-official {
  background-color: #3b5998;
}
.fa-facebook-official:hover {
  color: #3b5998;
}

/* Twitter button */
.fa-twitter {
  background-color: #55acee;

}
.fa-twitter:hover {
  color: #55acee;
}

/* Google-PLus button */
.fa-google-plus {
  background-color: #dd4b39;

}
.fa-google-plus:hover {
  color: #dd4b39;
}

/* Pinterest button */
.fa-pinterest-p {
  background-color: #cb2027;

}
.fa-pinterest-p:hover {
  color: #cb2027;
}

/* Tumblr button */
.fa-tumblr {
  background-color: #32506d;

}
.fa-tumblr:hover {
  color: #32506d;
}

/* Reddit button */
.fa-reddit-alien {
  background-color: #ff4500;
}
.fa-reddit-alien:hover {
  color: #ff4500;

}

/* LinkedIn button */
.fa-linkedin {
  background-color: #007bb5;

}
.fa-linkedin:hover {
  color: #007bb5;
}

/* Email button */
.fa-envelope {
  background-color: #444444;

}
.fa-envelope:hover {
  color: #444444;
}




}
.effect{
  position: relative;
  top: -110px;
  z-index: 10;
}
.slier{
  height: 400px;
}
