<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "fr" }}">

  {% include headfusion.html %}

  <body>

        {{ content }}

<!-- Event snippet for Lead generation fusion 2 conversion page
In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
<script>
  function gtag_report_conversion(url) {
    var callback = function () {
      if (typeof(url) != 'undefined') {
        window.location = url;
      }
    };
    gtag('event', 'conversion', {
        'send_to': 'AW-1000881858/GkIyCLecyngQwv2g3QM',
        'event_callback': callback
    });
    return false;
  }
  </script>
  </body>

</html>
