---
layout: default
---
<div class="center-align white-text">
  <div class="banner">
     <h1>Résidence {{page.slug}}</h1>
      <h4>{{page.location}}</h4>
    </div>
  </div>

  {{ content }}
    {% if page.booking == true %}
    <div class="newsletter-container">
    <div class="newsletter">
    <h4>Besoin de conseils pour votre projet immobilier ?</h4>
      <a id="Setmore_button_iframe" style="float:none" class="btn waves-effect waves-light white black-text" href="https://my.setmore.com/bookingpage/f60274c9-0841-47d2-a2a4-c6e39c71f645">Je prends rendez-vous</a>
    </div>
    </div>

    {% endif %}

    <div class="video-container">

    <iframe src="{{page.map}}" width="100" height="100" frameborder="0" style="border:0" allowfullscreen></iframe>

    </div>
