---
layout: default

---
<article class="row padding single-post" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="col s12 m8">

    <h4 class="blog-header" itemprop="name">{{page.title}}</h4>
    {% include social-sharing.html %}
    {% if page.picture %}
    <img itemprop="image" src="{{ page.picture | relative_url }}" class="responsive-img" alt="">
    {% endif %}
    {% if page.video %}
    <div class="video-container">
      <iframe width="560" height="315" src={{page.video}} frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>   
     </div>
          {% endif %}
          <div  itemprop="articleBody">
            {{ content }}
        </div>
    <div class="chip">
        <img src="{{ site.data.images.icon-blog-calendar | relative_url }}"/>
        Publié le :
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: "%d/%m/%Y" }}
      </time>

    </div>
    {% include disqus_comments.html %}

  </div>


  <div class="col s12 m4">
    <ul class="collection with-header">
      <li class="collection-header bessa-bg-red "><h5 class="white-text"><i class="material-icons right white-text">library_books</i>{{site.data.blog-settings.headerblog}}</h5>
</li>

      {% for post in site.posts %}
     <li class="collection-item hoverable"><a class="post-link" href="{{ post.url | relative_url }}"><i class="material-icons left grey-text text-darken-2">book</i>{{ post.title | escape }} </a></li>
        {% endfor %}
         </ul>

           {% include newsletter-blog.html %}
           <div class="margin">
           {% include social-media-blog.html %}
           </div>



</div>
</article>
